<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>新增用户</title>
		<link rel="stylesheet" type="text/css" href="../../../static/webframes/bootstrap3/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../../static/css/main.css"/>
		<script src="../../../static/webframes/jquery/jquery-2.1.4.min.js"></script>
		<script src="../../../static/webframes/bootstrap3/js/bootstrap.min.js"></script>
		<script src="js/add.js"></script>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row mt10">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<div class="form-group">
						<label class="fr-inline ipt-label-70 pr10"><span class="redstar">*</span> 行政区划</label>
						<input class="fr-inline form-control ipt ipt-search-70" type="text" id="" />
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 mt10">
					<div class="form-group">
						<label class="fr-inline ipt-label-70 pr10"><span class="redstar">*</span> 所属部门</label>
						<select class="fr-inline form-control ipt ipt-search-70">
							<option>1111</option>
							<option>1111</option>
							<option>1111</option>
							<option>1111</option>
						</select>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 mt10">
					<div class="form-group">
						<label class="fr-inline ipt-label-70 pr10">角色</label>
						<select class="fr-inline form-control ipt ipt-search-70">
							<option>1111</option>
							<option>1111</option>
							<option>1111</option>
							<option>1111</option>
						</select>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 mt10">
					<div class="form-group">
						<label class="fr-inline ipt-label-70 pr10"><span class="redstar">*</span> 用户名</label>
						<input class="fr-inline form-control ipt ipt-search-70" type="text" id="" />
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 mt10">
					<div class="form-group">
						<label class="fr-inline ipt-label-70 pr10">真实姓名</label>
						<input class="fr-inline form-control ipt ipt-search-70" type="text" id="" />
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 mt10">
					<div class="form-group">
						<label class="fr-inline ipt-label-70 pr10">说明</label>
						<input class="fr-inline form-control ipt ipt-search-70" type="text" id="" />
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
