<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>充值金额专题图</title>
		<link rel="stylesheet" type="text/css" href="../../../static/webframes/font-awesome-4.7/css/font-awesome.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../../static/webframes/bootstrap3/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../../static/css/main.css"/>
		<script src="../../../static/webframes/jquery/jquery-2.1.4.min.js"></script>
		<script src="../../../static/webframes/bootstrap-table/js/bootstrap-table.min.js"></script>
		<script src="js/list.js"></script>
	</head>
	<body>
		<div class="col-lg-12 col-md-12 col-sm-12" class="posi-relative" id="mapBox">
			<div class="mapBox posi-relative" id="myChart"></div>
			<div class="progress-box posi-fixed">
				<input type="radio" class="radio" name="progress" value="five" id="five" checked>
			    <label for="five" class="label">2014</label>
			    <input type="radio" class="radio" name="progress" value="twentyfive" id="twentyfive">
			    <label for="twentyfive" class="label label-left">2015</label>
			    <input type="radio" class="radio" name="progress" value="fifty" id="fifty">
			    <label for="fifty" class="label label-left">2016</label>
			    <input type="radio" class="radio" name="progress" value="seventyfive" id="seventyfive">
			    <label for="seventyfive" class="label label-left">2017</label>
			    <input type="radio" class="radio" name="progress" value="onehundred" id="onehundred">
			    <label for="onehundred" class="label label-left">2018</label>
				<div class="progress">
			      	<div class="progress-bar"></div>
			    </div>
			    <div class="cir-bar posi-relative"></div>
			</div>
			<div class="infor-box">
				<h4>甘肃省</h4>
				<h5>总水量：1565658688</h5>
				<div class="myChart" id="myChart"></div>
				<!--<div class="infor-detail">
					<div class="h-25">
						<span class="sq sq1"></span>
						<span class="blue ml10">种植业</span>
						<span class="orange ml20">3.99</span>
						<span class="blue">亿元</span>
						<span class="orange ml20">50.74</span>
						<span class="blue">%</span>
					</div>
					<div class="h-25">
						<span class="sq sq2"></span>
						<span class="blue ml10">种植业</span>
						<span class="orange ml20">3.99</span>
						<span class="blue">亿元</span>
						<span class="orange ml20">50.74</span>
						<span class="blue">%</span>
					</div>
					<div class="h-25">
						<span class="sq sq3"></span>
						<span class="blue ml10">种植业</span>
						<span class="orange ml20">3.99</span>
						<span class="blue">亿元</span>
						<span class="orange ml20">50.74</span>
						<span class="blue">%</span>
					</div>
					<div class="h-25">
						<span class="sq sq4"></span>
						<span class="blue ml10">种植业</span>
						<span class="orange ml20">3.99</span>
						<span class="blue">亿元</span>
						<span class="orange ml20">50.74</span>
						<span class="blue">%</span>
					</div>
					<div class="h-25">
						<span class="sq sq5"></span>
						<span class="blue ml10">种植业</span>
						<span class="orange ml20">3.99</span>
						<span class="blue">亿元</span>
						<span class="orange ml20">50.74</span>
						<span class="blue">%</span>
					</div>
					<div class="h-25">
						<span class="sq sq6"></span>
						<span class="blue ml10">种植业</span>
						<span class="orange ml20">3.99</span>
						<span class="blue">亿元</span>
						<span class="orange ml20">50.74</span>
						<span class="blue">%</span>
					</div>
					<div class="h-25">
						<span class="sq sq7"></span>
						<span class="blue ml10">种植业</span>
						<span class="orange ml20">3.99</span>
						<span class="blue">亿元</span>
						<span class="orange ml20">50.74</span>
						<span class="blue">%</span>
					</div>
					<div class="h-25">
						<span class="sq sq8"></span>
						<span class="blue ml10">种植业</span>
						<span class="orange ml20">3.99</span>
						<span class="blue">亿元</span>
						<span class="orange ml20">50.74</span>
						<span class="blue">%</span>
					</div>
					<div class="h-25">
						<span class="sq sq9"></span>
						<span class="blue ml10">种植业</span>
						<span class="orange ml20">3.99</span>
						<span class="blue">亿元</span>
						<span class="orange ml20">50.74</span>
						<span class="blue">%</span>
					</div>
					<div class="h-25">
						<span class="sq sq10"></span>
						<span class="blue ml10">种植业</span>
						<span class="orange ml20">3.99</span>
						<span class="blue">亿元</span>
						<span class="orange ml20">50.74</span>
						<span class="blue">%</span>
					</div>
					<div class="h-25">
						<span class="sq sq11"></span>
						<span class="blue ml10">种植业</span>
						<span class="orange ml20">3.99</span>
						<span class="blue">亿元</span>
						<span class="orange ml20">50.74</span>
						<span class="blue">%</span>
					</div>
					<div class="h-25">
						<span class="sq sq12"></span>
						<span class="blue ml10">种植业</span>
						<span class="orange ml20">3.99</span>
						<span class="blue">亿元</span>
						<span class="orange ml20">50.74</span>
						<span class="blue">%</span>
					</div>
					<div class="h-25">
						<span class="sq sq13"></span>
						<span class="blue ml10">种植业</span>
						<span class="orange ml20">3.99</span>
						<span class="blue">亿元</span>
						<span class="orange ml20">50.74</span>
						<span class="blue">%</span>
					</div>
					<div class="h-25">
						<span class="sq sq14"></span>
						<span class="blue ml10">种植业</span>
						<span class="orange ml20">3.99</span>
						<span class="blue">亿元</span>
						<span class="orange ml20">50.74</span>
						<span class="blue">%</span>
					</div>
					<div class="h-25">
						<span class="sq sq15"></span>
						<span class="blue ml10">种植业</span>
						<span class="orange ml20">3.99</span>
						<span class="blue">亿元</span>
						<span class="orange ml20">50.74</span>
						<span class="blue">%</span>
					</div>
					<div class="h-25">
						<span class="sq sq16"></span>
						<span class="blue ml10">种植业</span>
						<span class="orange ml20">3.99</span>
						<span class="blue">亿元</span>
						<span class="orange ml20">50.74</span>
						<span class="blue">%</span>
					</div>
					<div class="h-25">
						<span class="sq sq17"></span>
						<span class="blue ml10">种植业</span>
						<span class="orange ml20">3.99</span>
						<span class="blue">亿元</span>
						<span class="orange ml20">50.74</span>
						<span class="blue">%</span>
					</div>
					<div class="h-25">
						<span class="sq sq18"></span>
						<span class="blue ml10">种植业</span>
						<span class="orange ml20">3.99</span>
						<span class="blue">亿元</span>
						<span class="orange ml20">50.74</span>
						<span class="blue">%</span>
					</div>
				</div>-->
			</div>
		</div>
	</body>
</html>
