<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>时间统计</title>
		<link rel="stylesheet" type="text/css" href="../../../static/webframes/bootstrap3/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../../static/webframes/bootstrap-table/css/bootstrap-table.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../../static/webframes/zTree/css/zTreeStyle/zTreeStyle.css"/>
		<link rel="stylesheet" type="text/css" href="../../../static/css/main.css"/>
		<script src="../../../static/webframes/jquery/jquery-2.1.4.min.js"></script>
		<script src="../../../static/webframes/bootstrap3/js/bootstrap.min.js"></script>
		<script src="../../../static/webframes/bootstrap-table/js/bootstrap-table.min.js"></script>
		<script src="../../../static/webframes/bootstrap-table/js/bootstrap-table-zh-CN.js"></script>
		<script src="../../../static/webframes/layer/layer.js"></script>
		<script src="../../../static/webframes/laydate/laydate.js"></script>
		<script src="../../../static/webframes/zTree/js/jquery.ztree.core.min.js"></script>
		<script src="../../../static/javascript/common.js"></script>
		<script src="js/list.js"></script>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="pull-left treeBar">
					<ul class="ztree" id="leftBar"></ul>
				</div>
				<div class="tableArea pull-left">
					<!--搜索条件-->
					<div class="col-lg-12 col-md-12 col-sm-12">
						<div class="search-box mt10">
							<div class="col-lg-4 col-md-4 col-sm-4 p0">
								<div class="form-group">
									<label class="fr-inline ipt-label pr10">售水单位</label>
									<select class="fr-inline form-control ipt ipt-search">
										<option>11111</option>
										<option>11111</option>
										<option>11111</option>
										<option>11111</option>
									</select>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 p0">
								<div class="form-group p-relative">
									<label class="fr-inline ipt-label pr10">开始时间</label>
									<input class="fr-inline form-control ipt ipt-search date" type="text" id="" />
									<span class="p-absolute"><i class="glyphicon glyphicon-calendar"></i></span>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 p0">
								<div class="form-group p-relative">
									<label class="fr-inline ipt-label pr10">结束时间</label>
									<input class="fr-inline form-control ipt ipt-search date" type="text" id="" />
									<span class="p-absolute"><i class="glyphicon glyphicon-calendar"></i></span>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-lg-offset-8 col-md-offset-8 col-sm-offset-8 p0 mt10 text-right pr5">
								<button href="javascript:void(0)" class="sale-btn reset-btn" id="resetBtn">
									<i class="glyphicon glyphicon-repeat"></i> 重置
								</button>
								<button href="javascript:void(0)" class="sale-btn search-btn ml5" id="searchBtn">
									<i class="glyphicon glyphicon-search"></i> 搜索
								</button>
							</div>
						</div>
					</div>
					<!--搜索条件-->
					<div class="col-lg-12 col-md-12 col-sm-12 mt10">
						<div class="pull-right">
							<button href="javascript:void(0)" class="sale-btn search-btn" id="">
								<i class="glyphicon glyphicon-share-alt"></i> 导出
							</button>
						</div>
					</div>
					<!--表格一-->
					<div class="col-lg-12 col-md-12 col-sm-12">
						<div class="tabTitle">
							<div class="inb tabActive pl10 pr10" name="list">列表展示</div>
							<div class="inb pl10 pr10" name="echarts">图表展示</div>
						</div>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 mt10">
						<div class="tabDiv">
							<div class="divShow" name="list">
								<table id="saleTable" ></table>
							</div>
							<div name="echarts" class="divShow" style="display: none;">
								这里是图表内容
							</div>
						</div>
					</div>
					<!--表格一-->
				</div>
			</div>
		</div>
	</body>
</html>
