<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>新增售水单位</title>
		<link rel="stylesheet" type="text/css" href="../../../static/webframes/bootstrap3/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../../static/css/main.css"/>
		<script src="../../../static/webframes/jquery/jquery-2.1.4.min.js"></script>
		<script src="../../../static/webframes/bootstrap3/js/bootstrap.min.js"></script>
		<script src="js/add.js"></script>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row mt10">
				<div class="col-lg-6 col-md-6 col-sm-6">
					<div class="form-group">
						<label class="fr-inline ipt-label-100 pr10"><span class="redstar">*</span> 单位名称</label>
						<input class="fr-inline form-control ipt ipt-search-160" type="text" id="" />
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6">
					<div class="form-group">
						<label class="fr-inline ipt-label-100 pr10"><span class="redstar">*</span> 组织机构代码</label>
						<input class="fr-inline form-control ipt ipt-search-160" type="text" id="" />
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 mt10">
					<div class="form-group">
						<label class="fr-inline ipt-label-100 pr10">单位电话</label>
						<input class="fr-inline form-control ipt ipt-search-160" type="text" id="" />
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 mt10">
					<div class="form-group">
						<label class="fr-inline ipt-label-100 pr10"><span class="redstar">*</span> 单位类型</label>
						<select class="fr-inline form-control ipt ipt-search-160">
							<option>1111</option>
							<option>1111</option>
							<option>1111</option>
							<option>1111</option>
						</select>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 mt10">
					<div class="form-group">
						<label class="fr-inline ipt-label-100 pr10">法人</label>
						<input class="fr-inline form-control ipt ipt-search-160" type="text" id="" />
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 mt10">
					<div class="form-group">
						<label class="fr-inline ipt-label-100 pr10">法人手机</label>
						<input class="fr-inline form-control ipt ipt-search-160" type="text" id="" />
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 mt10">
					<div class="form-group">
						<label class="fr-inline ipt-label-100 pr10">经度</label>
						<input class="fr-inline form-control ipt ipt-search-160" type="text" id="" />
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 mt10">
					<div class="form-group">
						<label class="fr-inline ipt-label-100 pr10">纬度</label>
						<input class="fr-inline form-control ipt ipt-search-160" type="text" id="" />
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 mt10">
					<div class="form-group">
						<label class="fr-inline ipt-label-100 pr10">单位地址</label>
						<input class="fr-inline form-control ipt ipt-search-160" type="text" id="" />
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
