<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>新增数据</title>
		<link rel="stylesheet" type="text/css" href="../../../static/webframes/bootstrap3/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../../static/css/main.css"/>
		<script src="../../../static/webframes/jquery/jquery-2.1.4.min.js"></script>
		<script src="../../../static/webframes/bootstrap3/js/bootstrap.min.js"></script>
		<script src="js/detail.js"></script>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row mt10">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<div class="form-group">
						<label class="fr-inline ipt-label-70 pr10 pl0">发布人：</label>
						<span class="fr-inline lable-note ipt-search">李四</span>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12">
					<div class="form-group">
						<label class="fr-inline ipt-label-70 pr10 pl0">发布部分：</label>
						<span class="fr-inline lable-note ipt-search">李四</span>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 mt10">
					<div class="form-group">
						<label class="fr-inline ipt-label-70 pr10 pl0">接收人：</label>
						<span class="fr-inline lable-note ipt-search">李四地方官史蒂夫更合理的双方各火蓝刀锋更好地发挥过的复合弓</span>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 mt10">
					<div class="form-group">
						<label class="fr-inline ipt-label-70 pr10 pl0">标题：</label>
						<span class="fr-inline lable-note ipt-search">李四地方官史蒂夫更合理的双方各火蓝刀锋更好地发挥过的复合弓</span>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 mt10">
					<div class="form-group">
						<label class="fr-inline ipt-label-70 pr10 pl0">内容：</label>
						<textarea class="fr-inline lable-note ipt-search" rows="3" readonly="readonly" style="border: none; outline: none;">李四地方官史蒂夫更合理的双方各火蓝刀锋更好地发挥过的复合弓</textarea>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
