<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>编辑数据</title>
		<link rel="stylesheet" type="text/css" href="../../../static/webframes/bootstrap3/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../../static/css/main.css"/>
		<script src="../../../static/webframes/jquery/jquery-2.1.4.min.js"></script>
		<script src="../../../static/webframes/bootstrap3/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row mt10">
				<div class="col-lg-6 col-md-6 col-sm-6">
					<div class="form-group">
						<label class="fr-inline ipt-label-100 pr10"><span class="redstar">*</span> 开始上报时间</label>
						<input class="fr-inline form-control ipt ipt-search-160" type="text" id="" />
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6">
					<div class="form-group">
						<label class="fr-inline ipt-label-100 pr10"><span class="redstar">*</span> 一级报警金额</label>
						<input class="fr-inline form-control ipt ipt-search-160" type="text" id="" />
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 mt10">
					<div class="form-group">
						<label class="fr-inline ipt-label-100 pr10"><span class="redstar">*</span> 二级报警金额</label>
						<input class="fr-inline form-control ipt ipt-search-160" type="text" id="" />
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 mt10">
					<div class="form-group">
						<label class="fr-inline ipt-label-100 pr10"><span class="redstar">*</span> 最大囤积金额</label>
						<input class="fr-inline form-control ipt ipt-search-160" type="text" id="" />
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 mt10">
					<div class="form-group">
						<label class="fr-inline ipt-label-100 pr10"><span class="redstar">*</span> 参数版本</label>
						<input class="fr-inline form-control ipt ipt-search-160" type="text" id="" />
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 mt10">
					<div class="form-group">
						<label class="fr-inline ipt-label-100 pr10"><span class="redstar">*</span> 用水类别</label>
						<select class="fr-inline form-control ipt ipt-search-160">
							<option>1</option>
							<option>1</option>
							<option>1</option>
						</select>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 mt10">
					<div class="form-group">
						<label class="fr-inline ipt-label-100 pr10"><span class="redstar">*</span> 第一阶梯</label>
						<input class="fr-inline form-control ipt ipt-search-160" type="text" id="" /> 元
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 mt10">
					<div class="form-group">
						<label class="fr-inline ipt-label-100 pr10"><span class="redstar">*</span> 限量范围(m³)：</label>
						<span class="ipt-search-160">
							<input type="text" class="fr-inline form-control ipt ipt-label-80 mr5 ipt-grey" disabled="disabled" value="只读0" /> 吨到
							<input type="text" class="fr-inline form-control ipt ipt-label-80 ml5" /> 吨
						</span>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 mt10">
					<div class="form-group">
						<label class="fr-inline ipt-label-100 pr10"><span class="redstar">*</span> 第二阶梯</label>
						<input class="fr-inline form-control ipt ipt-search-160" type="text" id="" /> 元
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 mt10">
					<div class="form-group">
						<label class="fr-inline ipt-label-100 pr10"><span class="redstar">*</span> 限量范围(m³)：</label>
						<span class="ipt-search-160">
							<input type="text" class="fr-inline form-control ipt ipt-label-80 mr5 ipt-grey" disabled="disabled" value="只读0" /> 吨到
							<input type="text" class="fr-inline form-control ipt ipt-label-80 ml5" /> 吨
						</span>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 mt10">
					<div class="form-group">
						<label class="fr-inline ipt-label-100 pr10"><span class="redstar">*</span> 第三阶梯</label>
						<input class="fr-inline form-control ipt ipt-search-160" type="text" id="" /> 元
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 mt10">
					<div class="form-group">
						<label class="fr-inline ipt-label-100 pr10"><span class="redstar">*</span> 限量范围(m³)：</label>
						<span class="ipt-search-160">
							<input type="text" class="fr-inline form-control ipt ipt-label-80 mr5 ipt-grey" disabled="disabled" value="只读0" /> 吨到
							<input type="text" class="fr-inline form-control ipt ipt-label-80 ml5" /> 吨
						</span>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 mt10">
					<div class="form-group">
						<label class="fr-inline ipt-label-100 pr10"><span class="redstar">*</span> 备注</label>
						<textarea cols="" rows="" class="fr-inline form-control ipt ipt-search-160"></textarea>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
