<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>新增字典</title>
		<link rel="stylesheet" type="text/css" href="../../../static/webframes/bootstrap3/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../../static/css/main.css"/>
		<script src="../../../static/webframes/jquery/jquery-2.1.4.min.js"></script>
		<script src="../../../static/webframes/bootstrap3/js/bootstrap.min.js"></script>
		<script src="js/add.js"></script>
	</head>
	<body>
		<div class="container-fluid">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<div class="form-group mt10">
					<label class="fr-inline ipt-label-50 pr10"><span class="redstar">*</span> 编码</label>
					<input class="fr-inline form-control ipt ipt-search" type="text" id="" />
				</div>
				<div class="form-group mt10">
					<label class="fr-inline ipt-label-50 pr10"><span class="redstar">*</span> 名称</label>
					<input class="fr-inline form-control ipt ipt-search" type="text" id="" />
				</div>
				<div class="form-group mt10">
					<label class="fr-inline ipt-label-50 pr10">说明</label>
					<textarea name="" rows="" cols="" class="fr-inline form-control ipt ipt-search"></textarea>
				</div>
			</div>
		</div>
	</body>
</html>
